@media screen and (max-width:425px) {
    .header{ 
        height: auto;
        flex-direction: column;
        row-gap: 20px;
        background: teal;
        padding: 20px auto;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    .header{ 
        background: olivedrab;
    }
}